<% provide :title, t(".title") %>
<% provide :subject, t(".subject") %>
  <div class="panel-body">
    <div class="form-group">
      <%= link_to (t".add"), new_admin_category_path, class: "btn btn-info" %>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
          <tr>
            <th><%= t".number" %></th>
            <th><%= t".name" %></th>
            <th><%= t".function" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @categories %>
        </tbody>
      </table>
    </div>
  </div>
